* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #3f3f3f;
  background-color: #f1eeee;
  height: 100%; }

.container {
  display: grid;
  grid-template-rows: 4.8rem min-content 4.8rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-gap: 6rem; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: repeat(12, [col-start] minmax(min-content, 14rem) [col-end]); } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-columns: repeat(10, [col-start] minmax(min-content, 14rem) [col-end]); } }
  @media only screen and (max-width: 37.5em) {
    .container {
      display: flex;
      flex-direction: column;
      row-gap: 3rem; } }
  @media only screen and (max-width: 18.75em) {
    .container {
      grid-gap: 2rem; } }

.form-container {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, [col-form-start] minmax(min-content, 14rem) [col-form-end]);
  grid-gap: 8rem; }
  @media only screen and (max-width: 62.5em) {
    .form-container {
      display: flex;
      flex-direction: column; } }

.main {
  background-color: white;
  grid-column: col-start 1 / col-end 10;
  display: grid;
  grid-template-rows: 12rem repeat(4, min-content);
  grid-template-columns: [new-full-start] minmax(6rem, 1fr) [new-center-start] repeat(8, [new-col-start] minmax(min-content, 14rem) [new-col-end]) [new-center-end] minmax(6rem, 1fr) [new-full-end]; }
  @media only screen and (max-width: 62.5em) {
    .main {
      grid-column: col-start 2 / col-end 11; } }
  @media only screen and (max-width: 50em) {
    .main {
      grid-column: col-start 1 / col-end 10; } }
  @media only screen and (max-width: 37.5em) {
    .main {
      padding: 2rem; } }
  @media only screen and (max-width: 18.75em) {
    .main {
      grid-template-rows: 8rem repeat(4, min-content); } }
  .main__handles {
    background-color: white;
    grid-column: new-col-start 7 / new-full-end;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin: 3rem 3rem 2rem 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .main__handles {
        grid-column: new-full-start / new-full-end; } }
    @media only screen and (max-width: 37.5em) {
      .main__handles {
        justify-content: start; } }
    .main__handles a,
    .main__handles :active,
    .main__handles :visited {
      display: inline-flex;
      border-radius: 50%;
      border: 1px solid rgba(63, 63, 63, 0.3);
      padding: 1rem;
      text-align: center; }
      @media only screen and (max-width: 18.75em) {
        .main__handles a,
        .main__handles :active,
        .main__handles :visited {
          padding: 0.5rem; } }
    .main__handles--sub, .main__handles--label {
      width: 1.5rem;
      height: 1.5rem;
      fill: #3f3f3f; }
    .main__handles--button button {
      display: flex;
      align-items: center;
      border-radius: 5px;
      cursor: pointer;
      padding: 0.1rem 1rem;
      background-color: white;
      border: 1px solid #3f3f3f;
      box-shadow: 0 0 3px green; }
      .main__handles--button button a {
        border: none;
        text-decoration: none;
        color: #3f3f3f; }
  .main__heading {
    grid-column: new-center-start / new-col-end 5;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    text-transform: capitalize; }
    @media only screen and (max-width: 37.5em) {
      .main__heading {
        grid-column: new-full-start / new-full-end; } }
    .main__heading--1 {
      font-size: 2.5rem;
      line-height: 1.2;
      font-weight: 600;
      color: red; }
    .main__heading--2 {
      font-size: 1.6rem;
      color: #741111; }
  .main__stories {
    grid-column: new-col-start 2 / new-col-end 7;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem; }
    @media only screen and (max-width: 50em) {
      .main__stories {
        grid-column: new-col-start 1 / new-col-end 8; } }
    @media only screen and (max-width: 37.5em) {
      .main__stories {
        grid-column: new-full-start / new-full-end; } }
    .main__stories > * {
      margin-bottom: 3rem; }
    .main__stories--h1 {
      color: #3f3f3f;
      font-weight: 400; }
    .main__stories--h2 {
      font-weight: 600; }
    .main__stories a,
    .main__stories :active,
    .main__stories :visited {
      display: inline-block;
      color: red;
      font-weight: 600; }
  .main__account {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    grid-column: new-full-start/ new-full-end;
    font-size: 1.6rem;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-gap: 3rem;
    padding: 7rem 0; }
    @media only screen and (max-width: 18.75em) {
      .main__account {
        padding: 3rem 0; } }
    .main__account a {
      text-decoration: none; }

.main__account--button,
.main__account--button:visited,
.main__account--button:active {
  padding: 2rem 4rem;
  border: none;
  cursor: pointer;
  background-color: orangered;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 600; }

.main__account--button:hover {
  background-color: #992900;
  transform: translateY(-2px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8); }

.footer {
  background-color: white;
  grid-column: full-start / full-end;
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  border-top: 1px solid #eaeaea;
  font-size: 1.5rem;
  color: rgba(63, 63, 63, 0.7); }
  @media only screen and (max-width: 62.5em) {
    .footer {
      grid-column: col-start 1 / col-end 12; } }
  @media only screen and (max-width: 50em) {
    .footer {
      grid-column: col-start 1 / col-end 10; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      flex-direction: column;
      row-gap: 1rem; } }
  .footer a,
  .footer :active,
  .footer :visited {
    color: rgba(63, 63, 63, 0.7);
    text-decoration: none; }
  .footer > * {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .footer > * svg {
      fill: red; }
  .footer__first-half svg {
    fill: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: red;
    padding: 3px; }
  .footer__second-half a {
    text-decoration: underline; }

.logo {
  grid-column: col-form-start 3 / col-form-end 10;
  grid-row: 2/3;
  margin-top: 5rem;
  color: #3f3f3f; }
  @media only screen and (max-width: 62.5em) {
    .logo {
      margin-left: 4rem; } }

.form-nav {
  grid-column: col-form-start 1 / col-form-end 10;
  display: flex;
  justify-content: space-between;
  padding: 3rem; }
  .form-nav a {
    text-decoration: none;
    font-size: 1.6rem; }

.form {
  grid-column: col-form-start 4 / col-form-end 7;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  row-gap: 3rem;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: 0 0 0.5rem rgba(63, 63, 63, 0.2);
  border: 5px;
  font-size: 1.3rem; }
  @media only screen and (max-width: 62.5em) {
    .form {
      margin: 0 20rem; } }
  @media only screen and (max-width: 50em) {
    .form {
      margin: 0 13rem; } }
  @media only screen and (max-width: 37.5em) {
    .form {
      margin: 0 6rem; } }
  @media only screen and (max-width: 400px) {
    .form {
      margin: 0 1rem; } }
  .form__head {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .form h1 {
    color: #3f3f3f; }
  .form a,
  .form a:active,
  .form a:visited {
    color: white;
    text-decoration: none; }

.form-field {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  background-color: white;
  border-radius: 10px; }

.sign-up {
  text-align: center; }

input,
textarea {
  padding: 1.5rem; }
  input:focus,
  textarea:focus {
    outline: none; }

#email,
#cover-letter {
  box-shadow: 0 3px 1px rgba(32, 32, 32, 0.1);
  border: none;
  width: 100%;
  border-radius: 10px; }

label {
  font-weight: 600;
  padding: 0 1.5rem; }
  label::after {
    content: "*";
    color: red;
    margin-left: 0.5rem;
    font-size: 2rem; }

.center {
  text-align: center; }

p {
  font-weight: 500; }

.a-red {
  color: red !important; }

.checkbox {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-content: center; }

.upload,
.checkbox {
  background-color: transparent; }

.file-upload {
  background-color: #3f3f3f;
  color: #f1eeee;
  padding: 1.5rem 3rem;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  border-radius: 5px; }
  .file-upload:focus {
    border: none; }
  .file-upload::after {
    content: none; }

.footer-form {
  grid-column: col-form-start / col-form-end 10;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: underline;
  opacity: 0.7;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 50em) {
    .footer-form {
      margin-bottom: 1rem; } }
  .footer-form a,
  .footer-form a:visited,
  .footer-form a:active {
    color: #3f3f3f; }
    .footer-form a :hover,
    .footer-form a:visited :hover,
    .footer-form a:active :hover {
      color: orangered; }

.error {
  border: 2px solid red;
  color: red; }

.success {
  border: 2px solid green; }

small {
  display: block;
  color: red;
  margin-left: 2rem;
  font-size: 1.3rem;
  font-weight: 500; }

.file-small {
  color: white; }

.hidden {
  display: none; }

.header {
  grid-column: new-full-start/ new-full-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.nav {
  background-color: white;
  grid-column: full-start / full-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 62.5em) {
    .nav {
      grid-column: col-start 1 / col-end 12; } }
  @media only screen and (max-width: 50em) {
    .nav {
      grid-column: col-start 1 / col-end 10; } }
  @media only screen and (max-width: 37.5em) {
    .nav {
      padding: 2rem; } }
  .nav-submission {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    opacity: 0.7; }
  .nav a,
  .nav a:active,
  .nav a:visited {
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: capitalize; }
  .nav__item-1 {
    color: red;
    font-weight: 600; }
  .nav__item-2 {
    color: #3f3f3f; }
