.main {
  background-color: white;

  grid-column: col-start 1 / col-end 10;

  @media only screen and(max-width: $bp-large) {
    grid-column: col-start 2 / col-end 11;
  }

  @media only screen and(max-width: $bp-medium) {
    grid-column: col-start 1 / col-end 10;
  }

  display: grid;
  grid-template-rows: 12rem repeat(4, min-content);
  grid-template-columns:
    [new-full-start] minmax(6rem, 1fr)
    [new-center-start] repeat(
      8,
      [new-col-start] minmax(min-content, 14rem) [new-col-end]
    )
    [new-center-end] minmax(6rem, 1fr)
    [new-full-end];

  @media only screen and(max-width: $bp-small) {
    padding: 2rem;
  }

  @media only screen and(max-width: $bp-tiny) {
    grid-template-rows: 8rem repeat(4, min-content);
  }

  &__handles {
    background-color: white;
    grid-column: new-col-start 7 / new-full-end;

    @media only screen and(max-width: $bp-small) {
      grid-column: new-full-start / new-full-end;
    }

    display: flex;
    justify-content: end;
    align-items: center;

    margin: 1rem 3rem 1rem 0.5rem;

    @media only screen and(max-width: $bp-small) {
      justify-content: start;
    }

    a,
    a:active,
    a:visited {
      display: inline-flex;
      border-radius: 50%;
      border: 1px solid rgba($color-grey-dark, 0.3);
      padding: 1rem;
      text-align: center;
      margin-right: 1rem;

      @media only screen and(max-width: $bp-tiny) {
        padding: 0.5rem;
        margin-right: 0.5rem;
      }
    }

    &--sub,
    &--label {
      width: 1.5rem;
      height: 1.5rem;
      fill: $color-grey-dark;
    }
  }

  &__heading {
    grid-column: new-center-start / new-col-end 5;

    display: flex;
    flex-direction: column;

    @media only screen and(max-width: $bp-small) {
      grid-column: new-full-start / new-full-end;
    }

    margin-bottom: 5rem;
    text-transform: capitalize;
    &--1 {
      font-size: 3rem;
      line-height: 1.2;
      font-weight: 600;
      color: $color-brand-green;
    }

    &--2 {
      font-size: 1.6rem;
      color: rgba(53, 107, 68, 0.5);
    }
  }

  &__stories {
    grid-column: new-col-start 2 / new-col-end 7;

    @media only screen and(max-width: $bp-medium) {
      grid-column: new-col-start 1 / new-col-end 8;
    }

    @media only screen and(max-width: $bp-small) {
      grid-column: new-full-start / new-full-end;
    }

    display: flex;
    flex-direction: column;

    font-size: 1.6rem;
    margin-bottom: 2rem;

    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 4rem;

      ul,
      ol {
        font-family: Georgia, "Times New Roman", Times, serif;

        margin-left: 4rem;
      }
    }

    &--h1 {
      color: $color-grey-dark;
      font-weight: 600;
    }

    &--h2 {
      font-weight: 600;
      font-size: 2.3rem;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1.2rem;
    }
  }

  &__account {
    border-top: $border-bottom;

    grid-column: new-col-start 2 / new-col-end 7;

    @media only screen and(max-width: $bp-medium) {
      grid-column: new-col-start 1 / new-col-end 8;
    }

    @media only screen and(max-width: $bp-small) {
      grid-column: new-full-start / new-full-end;
    }

    font-size: 1.6rem;

    display: grid;
    justify-content: center;
    text-align: center;
    grid-gap: 3rem;

    padding: 7rem 0;

    @media only screen and(max-width: $bp-tiny) {
      padding: 5rem 0;
    }

    a {
      text-decoration: none;
    }
  }
}

.dropdown {
  display: grid;
  justify-content: center;
  width: 100rem;
}

.authorProfile {
  display: grid;
  align-items: start;

  img {
    width: 10rem;
    border-radius: 50%;
    align-self: flex-start;
  }

  h1 {
    font-size: 2.3rem;
  }
}

.profile {
  background-color: #f4fff7;
  padding: 2rem;
  margin-bottom: 5rem;
  transform: skewX(-10deg);
  display: flex;
  align-items: center;
  text-align: center;

  & > * {
    transform: skewX(10deg);
  }
  @media only screen and(max-width: $bp-small) {
    flex-direction: column;
  }
}

.profilecontent {
  display: grid;
  justify-content: center;

  text-align: left;
  margin-left: 2rem;
}
