.main__account--button,
.main__account--button:visited,
.main__account--button:active {
  padding: 2rem 4rem;
  border: none;
  cursor: pointer;
  background-color: orangered;

  text-decoration: none;
  color: white;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 600;
}

.main__account--button:hover {
  background-color: darken($color: orangered, $amount: 20);
  transform: translateY(-2px);
  box-shadow: 0 1px 2px rgba(#000, 0.8);
}
